body {
    background-color: rgb(100, 150, 160);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.columns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.column {
    margin: 0 20px;
}
a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.link:hover {
    color: white;
}
#main-title {
    font-weight: bold;
    font-variant: small-caps;
    padding-bottom: 10px;   
    font-size: 32px;         
}
.column-title {
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 28px;
}